/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @start), color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
    @start,
    @stop);
  background: -moz-linear-gradient(center bottom,
    @start 0%,
    @stop 100%);
}

.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(@start,@start,@start)), color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom, rgb(@start,@start,@start) 0%, rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom, rgb(@start,@start,@start) 0%, rgb(@stop,@stop,@stop) 100%);
}

.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}

.rotation(@deg: 5deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}

.scale(@ratio: 1.5) {
  -webkit-transform: scale(@ratio);
  -moz-transform: scale(@ratio);
  -ms-transform: scale(@ratio);
  -o-transform: scale(@ratio);
  transform: scale(@ratio);

}

.origin(@arguments) {
  -webkit-transform-origin: @arguments;
  -moz-transform-origin: @arguments;
  -ms-transform-origin: @arguments;
  -o-transform-origin: @arguments;
  transform-origin: @arguments;

}

.transition(@target, @duration: 0.2s, @ease: ease-out) {
  -webkit-transition: @target @duration @ease;
  -moz-transition: @target @duration @ease;
  transition: @target @duration @ease;
}

.inner-shadow(@horizontal: 0, @vertical: 1px, @blur: 2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

.translate(@x: 0, @y: 0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.box-sizing(@sizing: border-box) {
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

/** COLORS **/

@dark: rgb(64, 62, 63);
@light: rgb(242, 242, 242);
@lightgrey: rgb(217, 217, 217);
@blue: rgb(157, 170, 187);
@grey: rgb(140, 140, 140);

/** SIZES **/

@sidebarWidth: 270px;
@toolbarHeight: 35px;
html {
  background: #fff url(/img/skin_side_up.png) repeat center 0;
}

html, body {
  min-height: 100%;
}

body {
  background: transparent;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: @light;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: @grey;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(188, 188, 188, 0.4);
}

code {
  font-family: 'Source Code Pro', Monaco, Menlo, Consolas, "Courier New", monospace;
}
.navbar-static-top .navbar-inner {
}

.navbar .nav > li.active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
}

.app .nav a i {
  //opacity: 0.5;
}

.app .nav a:hover i,
.app .nav .active a i {
  opacity: 1;
}

.centered {
  text-align: center;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8) url(/img/load.gif) no-repeat center;
}

.modal,
.modal.fade.in {
  overflow: hidden;
  margin-top: -4px;
  top: 0;
}

.loading-list {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index:11;
  font-size: 12px;
  display: none;
}

.loading-list ul {
  display: inline-block; 
  background: @grey;
  color: #ffffff;
  padding: 2px 4px;
  .drop-shadow(0,0,4px,0.2);
}

.loading-list ul li {
  list-style: none;
}

#notifications {
  
}

#notifications ul {
  display: table;
  width: 100%;
}

#notifications ul li {
  display: table-row;
}

#notifications ul li + li div {
  padding-top: 10px;
}
#notifications ul li > * {
  display: table-cell;
}

#notifications ul li div + div {
  margin-left: 15px;
}

#notifications ul li div.notification-actions {
  text-align: right;
}
.action-bar {
  height: @toolbarHeight;
  .box-sizing();
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 4px 20px 0 15px;
  background: @light;
  border-bottom: 1px solid @lightgrey;
  .box-shadow(0 1px 0 rgba(0,0,0,0.2));
  z-index: 10;
}

#logo {
  font-size: 16px;
  line-height: 27px;
  font-weight: normal;
  float: left;
  margin: 0;
  width: @sidebarWidth - 15;
  border-right: 1px solid @lightgrey;
  .box-sizing();
}

#sidebar {
  margin-left: 0;
  background: @light;
  position: fixed;
  top: @toolbarHeight;
  left: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 14px; //.box-shadow(0 2px 10px rgba(0, 0, 0, 0.4));
  border-right: 1px solid @lightgrey;
  width: @sidebarWidth;
  z-index: 4;
  .box-sizing();
}

#sidebar .navbar-search {
}

#sidebar .navbar-search input {
}

#content {
  margin-left: @sidebarWidth;
  padding-top: @toolbarHeight + 15;
  min-width: 530px;
}

.content {

}

.user .username {
/*color: @blue;
display: inline-block;
font-size: 12px;
margin-right: 4px;
padding: 5px 3px 3px;
line-height: 18px;*/
}

.collapsing-btn {
}

.collapsing-btn i + span { //display: none;
}

.collapsing-btn:hover i + span { //display: inline-block;
}

#login-buttons {
  padding-top: 6px;
  padding-right: 4px;
}

#login-dropdown-list {
  right: -1px;
  left: initial;
}
#login-buttons .login-close-text {
  float: right;
}

.user .name {
  text-decoration: underline;
  padding: 2px 6px;
  display: inline-block;
  font-weight: bold;
}

.user .name:active,
.user .name:focus,
.user .name:hover {
  background: #fff;
  outline-color: #717F8B;
  outline-style: auto;
  outline-width: 5px;
  text-decoration: none;

}

#sidebar .lists {
  overflow: auto;
  height: 100%;
}

#sidebar .nav-list .nav-header {
  color: @blue;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  font-weight: normal;
  font-size: 14px;
  margin-top: 15px;
}

#sidebar .nav-list .nav-header .label {
  position: relative;
  top: -8px;
  font-size: 10px;
  padding: 1px 3px 2px;
  background: #fff;
  color: @blue;
  font-weight: normal;
}

#sidebar .nav-list .nav-header .nav-pagination {
  position: relative;
  top: -4px;
  display: inline-block;
}
#sidebar .nav-list .nav-header .nav-pagination button {
  margin: 0;
  padding: 0;
}

#sidebar .nav-list .nav-header .nav-pagination button i {
  margin: 0;
}

#sidebar .nav-list .alert {
  margin: 0 -15px;
  font-size: 12px;
  font-weight: bold;
}

#sidebar footer {
  position: fixed;
  height: 14px;
  line-height: 12px;
  background: @light;
  bottom: 0;
  left: 0;
  width: @sidebarWidth - 1;
  font-size: 10px;
  padding-right: 15px;
  .box-sizing();
  text-align: center;
}

.nav-list .nav-header .pull-right .btn.btn-mini {
  padding: 0px 4px 2px 6px;
  margin-right: 0;
  position: relative;
  top: -3px;
}

.nav-list .nav-header .pull-right + .pull-right {
  margin-right: 10px;
}
.nav-list li.nav-link-icon a {
  color: lighten(#000, 60%);
  background: #fff;
  padding: 6px 15px;
  border-bottom: 1px solid @lightgrey;
}

.nav-list li.nav-link-icon a:hover {
  color: @dark;
  background: @lightgrey;
}

.nav-list li.nav-link-icon.active a {
  color: @light;
  background: @dark;
}

.messages-list li a {
  color: @dark;
}

.messages-list li a:hover {
  background: @lightgrey;
}

.messages-list li.active a {
  color: @light;
  background: @grey
}

.messages-list li.active a:hover {
  background: @grey;
  cursor: default;
}

.messages-list .message-link {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Source Code Pro', Monaco, Menlo, Consolas, "Courier New", monospace;
}

.messages-list li a p {
  margin: 0;
}

.messages-list.nav-list {
  border-top: 1px solid @lightgrey;
  .box-shadow(0 1px 0 rgba(255,255,255,0.7));
}

.messages-list.nav-list > li > a {
  border-bottom: 1px solid @lightgrey;
  .box-shadow(0 1px 0 rgba(255,255,255,0.7));
}

.popover.message-abstract {
  width: auto;
  position: absolute;
}

.popover.message-abstract .popover-content {
  padding: 0;
}

.popover.message-abstract pre {
  background: transparent;
  font-size: 10px;
  border: none;
  margin: 0;
}

.popover.message-abstract pre code {
  font-size: 10px;
  line-height: 14px;
}

.nav-list li {
  position: relative;
}

.nav-list li .abstract-wrapper {
  position: fixed;
  top: 100%;
  .transition(opacity, 150ms);
  right: 200%;
  margin-top: 10px;
  opacity: 0;
  .box-sizing();
}

.nav-list li:hover:not(.active) .abstract-wrapper {
  position: absolute;
  right: 0;
  left:0;
  opacity: 1;
}

.nav-list li .abstract-wrapper > div {
  display: table;
  height: 100%;
  width: 100%;
}

.nav-list li .abstract-wrapper .popover.message-abstract {
  display: table-cell; //right: 0;
  background: transparent;
  border: none;
  padding: 0;
  .box-shadow(none);
  .border-radius(0,0,0,0);
  vertical-align: middle;
  position: relative;
}

.nav-list li .popover.message-abstract .arrow {
  //top: -9px;
}

.nav-list li .popover.message-abstract .popover-title {
  background: #fff;
  font-style: 12px;
  font-size: 12px;
  padding: 2px 4px;
  border: 1px solid #CCC;
  border-bottom: none;
  z-index: 2;
  position: relative;
}

.nav-list li .popover.message-abstract .popover-title i {
  position: relative;
  top: -2px;
}
.nav-list li .popover.message-abstract .popover-content {
  .box-shadow(2px 0 20px rgba(0,0,0,0.6));
  position: relative;
  z-index: 1;
}
.nav-list li .popover.message-abstract pre {
  padding: 0;
  border: none;
}

.nav-list li .popover.message-abstract pre code {
  /*width: 200%;
  .scale(0.5);
  .origin(0 0);*/
  .box-sizing();
  border: 1px solid #CCC;
  .border-radius(0);
  margin-top: -3px;
  font-size: 8px;
  line-height: 11px;
}

.show > h2 {
  text-align: center;
}

.show .text-type {
  margin-right: 15px;
}

.show .hide-preview,
.previewed .show-preview {
  display: none;
}

.previewed .hide-preview {
  display: inline-block;
}

.show .board-actions {
  position: absolute;
  top: 20px;
  right: 20px;
}

.show .messages-list .table-wrapper {
  margin: 0 -19px;
}

.show .drop-zone {
  text-align: center;
  border: 2px dashed #ccc;
  color: #ccc;
}

.show .drop-zone p {
  padding: 25px 0;
  margin: 0;
}

.show .file-drop { //background: #fff;
}

.show textarea.text-board {

}

.show .over textarea.text-board {
  background: #ccc;
}

.show .alert {
  text-align: center;
}

.raw-file {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 10px 10px;
  background: #f5f5f5;
}

.raw-file .close {
  position: absolute;
  right: 13px;
  top: -2px;
}

.raw-file textarea {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  font-family: 'Source Code Pro', Monaco, Menlo, Consolas, "Courier New", monospace;
  .box-sizing();
}

.view-toolbar {
  height: @toolbarHeight - 1;
  .box-sizing();
  position: fixed;
  left: @sidebarWidth;
  top: 0;
  padding: 0 20px 0;
  z-index: 11;
}

.view-toolbar .btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}
.view-toolbar .btn-toolbar .btn-group {
  background: @light;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  .transition(all,150ms);
}
.view-toolbar .btn-toolbar .btn-group.editing {
  background: rgba(91,183,91,0.3);
  padding-left: 10px;
}

.message-editor {     
  height: @toolbarHeight - 1;
  opacity: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(91,183,91,0.3);
  .transition(opacity,150ms);
}
.message-editor.editing {
  opacity: 1;
}
.view-toolbar .btn-toolbar.message-editor .btn-group {
  background: transparent;
}

.message-annotations {
  visibility: hidden;
  opacity: 0;
  .transition(opacity,250ms);
  position: fixed;
  bottom: 200%;
}

.comments-toggled .message-annotations {
  visibility: visible;
  opacity: 1;
  position: static;
}
.message-annotations li p {
  display: none;
}
.message-annotations li.active p {
  display: block;
}

.message-view {
  position: relative;
}

.message-view .author-detail {
  color: @grey;
  font-size: 11px;
  background: #363731;
  position: absolute;
  top: 9.5px;
  right: 9.5px;
  padding: 0 5px 2px 5px;
  .box-shadow(-3px 3px 3px 0px rgba(0, 0, 0, 0.5));
  .border-radius(0,0,2px,0);
  z-index: 3;
}

.message-view .message-detail {
  color: @grey;
  font-size: 11px;
  background: #363731;
  position: absolute;
  top: 9.5px;
  left: 9.5px;
  padding: 0 5px 2px 5px;
  .box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.8));
  .border-radius(0,2px,0,0);
  z-index: 3;
}

.message-view .message-detail .lang {
  color: #F92672;
}

.message-view .message-detail .current-computed-lang {
  color: #a6e22e
}

.message-view .message-detail .current-computed-lang,
.previewed .message-view .message-detail .current-lang {
  display: none;
}

.previewed .message-view .message-detail .current-computed-lang {
  display: inline;
}

.prettyprint {
  background: #363731;
  position: relative;
}

.message-view.loading .prettyprint code {
  //background: #363731 url(/img/load.gif) no-repeat center;
  min-height: 20px;
}

.prettyprint code {
  background: transparent;
  .box-shadow( inset 0px 0px 5px 1px rgba(0, 0, 0, 0.5));
  padding-top: 30px;
  position: relative;
  z-index: 2;
}

.prettyprint .code-annotated,
.prettyprint .code-raw {
  position: absolute;
  background: none;
  top: 10px;
  left: 10px;
  right: 10px;
  color: transparent;
  .box-shadow(none);
  z-index: 3;
}
.prettyprint .code-raw {
  z-index: 1;
}
.prettyprint .code-annotated {
  opacity: 1;
  .transition(opacity);
}

.prettyprint .code-raw::selection,
.prettyprint .code-raw::-moz-selection {
  background: #71E026; /* Safari */
}
.editing .prettyprint .code-raw {
  z-index: 4; 
}
.editing .prettyprint .code-annotated {
  opacity: 0.5;
}
.prettyprint .code-annotated span {
  position: relative;
  background: rgba(113,224,38,0.2);
  cursor: pointer;
  .transition(background);
}
.prettyprint .code-annotated span span {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(113,224,38,0.3);
  .transition(border-color);
}

.prettyprint .code-annotated span.hovered {
  background: rgba(224,137,38,0.2);
}
.prettyprint .code-annotated span.hovered span {
  border-color: rgba(224,137,38,1)
}
.prettyprint .code-annotated span.active {
  background: rgba(224,38,218,0.2);
}
.prettyprint .code-annotated span.active span {
  border-color: rgba(224,38,218,1)
}
.prettyprint .text-board {
  .box-sizing();
  .box-shadow( inset 0px 0px 5px 1px rgba(0, 0, 0, 0.5));
  border: none;
  font-size: 12px;
  background: #363731;
  margin: 0;
  padding: 30px 0.5em 0.5em;
  color: @light;
  position: relative;
  z-index: 1;
  white-space: pre;
}

.prettyprint .text-board:focus {
  outline: none;
}

.previewed .prettyprint .text-board {
  opacity: 0;
}

.prettyprint .text-board  + code {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 9.5px;
}

.previewed .prettyprint .text-board + code {
  display: block;
}

.share-message input {
  font-size: 20px;
  line-height: 40px;
  height: auto;
  width: 100%;
  .box-sizing();
}

#stream {
}

#stream-list-wrapper {
  padding-bottom: 100px;
  z-index: 1;
}

#stream .stream-editor {
  .box-sizing();
  border-top: 1px solid @lightgrey;
  .box-shadow(0 -1px 0 rgba(0,0,0,0.2));
  background: @light;
  position: fixed;
  bottom: 0;
  right: 0;
  left: @sidebarWidth;
  height: 100px;
  z-index: 2;
}

#stream .stream-editor .paste-area {
  overflow: hidden;
  padding: 15px;
}

#stream .stream-editor #stream-message {
  margin: 0;
  height: 70px;
  width: 100%;
  .box-sizing();
  font-size: 11px;
  font-family: 'Source Code Pro', Monaco, Menlo, Consolas, "Courier New", monospace;
}

#stream .stream-editor .editor-actions {
  padding: 15px;
  width: 150px;
  .box-sizing();
}

#stream .stream-editor .editor-actions .btn-group .current-lang {
  width: 95px;
}

#stream .stream-editor .editor-actions .dropdown-menu {
  left: auto;
  right: 0;
}

.join-stream {
  text-align: center;
  padding-top: 120px;
}

#stream-list {
  width: 100%;
}

#stream-list li {
  margin-bottom: 15px;
  padding: 8px 6px;
  -webkit-animation: myanim 300ms 1;
  -moz-animation: myanim 300ms 1;
  -o-animation: myanim 300ms 1;
  animation: myanim 300ms 1;
  .border-radius(3px, 3px, 3px, 3px);
}

#stream-list li.myself {
  background: #DFF0D8;

}

#stream-list li.myself .username {
  font-weight: bold;
}

#stream-list li p {
  vertical-align: top;
  width: 10%;
  float: left;
}

#stream-list li p,
#stream-list li p code {
  font-size: 10px;
}

#stream-list li p + pre {
  overflow: hidden;
}

#stream-list .prettyprint {
  cursor: pointer;
  margin-bottom: 0;
}

#stream-list .prettyprint code {
  padding: 0.5em;
  font-size: 11px;
  line-height: 14px;
}

.prettyprint code .divider {
  display: block;
  cursor: pointer;
  color: transparent;
}

.prettyprint code .divider:after {
  content: "···";
  display: block;
  text-align: center;
  background: #363731;
  color: @light;
  margin: 0 -6px;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 24px;
}
@-webkit-keyframes myanim {
0%   { opacity: 0.0; }
50%  { opacity: 0.5; }
100% { opacity: 1.0; }
  }
@-moz-keyframes myanim {
0%   { opacity: 0.0; }
50%  { opacity: 0.5; }
100% { opacity: 1.0; }
  }
@-o-keyframes myanim {
0%   { opacity: 0.0; }
50%  { opacity: 0.5; }
100% { opacity: 1.0; }
  }
@keyframes myanim {
0%   { opacity: 0.0; }
50%  { opacity: 0.5; }
100% { opacity: 1.0; }

  }