<template name="create">
    {{#if show}}
    <div class="show">
        <input type="hidden" name="current-lang-notepad" value="plain">
        <div class="view-toolbar clearfix">
            <div class="btn-toolbar pull-left">
                <p class="btn-group">
                    <button class="preview btn btn-small" title="Show Preview" data-placement="bottom"><i class="icon-screenshot"></i></button>
                </p>
                <p class="text-type btn-group">
                    {{> language_btn_group}}
                </p>
                <p class="btn-group">
                    <button class="btn btn-small btn-info paste-text-board"><i class="icon-file icon-white"></i> Save Snippet</button>
                </p>
            </div>
        </div>
        <div>
            <div class="text-board-wrapper">
                <div class="message-view">
                    <p class="message-detail">
                        <span class="lang current-lang-preview">Plain text</span>
                        <span class="lang current-computed-lang"></span>
                    </p>
                    <pre class="prettyprint"><p class="text-board" id="text-content" contenteditable="true"></p><code class="plain"></code></pre>
                </div>
            </div>
            <p>
                <button class=" btn btn-large btn-info btn-block paste-text-board"><strong>Save Snippet</strong></button>
            </p>
        </div>
    </div>
    </div>
    {{/if}}
</template>