<template name="home">
    {{#if show}}
    <div class="page-header">
        <h1>ClipboardJS
            <small>collaborative code pasting</small>
        </h1>
    </div>
    <ul class="unstyled lead">
        <li>
            <p>1. Create pastes</p>
        </li>
        <li>
            <p>2. Open collaborative paste streams</p>
        </li>
        <li>
            <p>3. Add comments</p>
        </li>
        <li>
            <p>4. Share</p>
        </li>
    </ul>

    <hr>

    <p class="muted">
        <small>
            <strong>
                About
            </strong>
        </small>
        <br>
        <small>
            ClipboardJS is an app I've build to get in touch with the awesome <a href="http://meteor.com">meteor</a>
            framework.
        </small>
    <ul class="muted">
        <li>
            <small>Currently tested in Chrome only</small>
        </li>
        <li>
            <small>I'm still learning how to do things in meteor</small>
        </li>
        <li>
            <small>No touch support and fancy responsiveness for mobile devices right now</small>
        </li>
    </ul>
    </p>
    <p class="muted"><small><strong>TODO</strong></small></p>
    <ul class="muted">
        <li><small>Add friends</small></li>
        <li><small>Paste bookmarks</small></li>
    </ul>
    {{/if}}
</template>