<template name="message_view">
    {{#if show}}
    {{#with message}}
    <div class="clearfix view-toolbar">
        <div class="btn-toolbar pull-left">
            <p class="message-actions btn-group">
                {{#if is_bookmarked _id}}
                <button class="remove-bookmark btn btn-small btn-info collapsing-btn" title="remove bookmark" data-placement="bottom" data-original-title="remove bookmark"><i class="icon-bookmark icon-white"></i></button>
                {{else}}
                <button class="add-bookmark btn btn-small collapsing-btn" title="add bookmark" data-placement="bottom" data-original-title="add bookmark"><i class="icon-bookmark"></i></button>
                {{/if}}
                <button class="share btn btn-small collapsing-btn" title="share message" data-placement="bottom" data-original-title="share message"><i class="icon-share"></i></button>
                <button class="raw btn btn-small collapsing-btn" title="show raw message" data-placement="bottom" data-original-title="show raw message"><i class="icon-align-justify"></i></button>
            </p>
            <p class="message-actions btn-group">
                <button class="edit btn btn-small collapsing-btn" title="edit message" data-placement="bottom" data-original-title="edit message"><i class="icon-wrench"></i></button>
            </p>
        </div>
        
        <div class="message-editor btn-toolbar pull-left">
            <p class="btn-group pull-left" title="Change paste language" data-placement="bottom">{{> language_btn_group}}</p>
            <p class="btn-group pull-left" title="1. Select text below <br>2. add the annotation" data-placement="bottom">
                <button class="add-annotation btn btn-small"><i class="icon-comment"></i></button>
            </p>
        </div>
    </div>
    {{/with}}
    
    {{#constant}}
    <div class="message-annotations"></div>
    <div class="message-view loading">
        <pre class="prettyprint"><code></code></pre>
    </div>
    {{/constant}}
    {{/if}}
</template>
<template name="message_detail">
    <p class="message-detail">
        <span class="lang">{{language}}</span></span>
    </p>
    <p class="author-detail">
        <span class="lang">{{user_name}}</span>
    </p>
    <pre class="prettyprint"><code class="code-annotated">{{{annotated this}}}</code><code class="code-view {{language}}">{{{highlighted}}}</code><code class="code-raw">{{{raw this}}}</code></pre>
</template>
<template name="message_detail_unavailable">
    <div class="alert alert-block">
        <h4>:(</h4>

        <p>The message you requested is unavailable</p>
    </div>
</template>

<template name="message_annotations">
    <h4>Annotations</h4>
    <ol>
        {{#each this}}
            <li id="{{_id}}">
                <span class="label">{{author}}</span>
                <p id="{{_id}}-target" class="hide">{{comment}}</p>
            </li>
        {{/each}}
    </ol>
</template>
<template name="message_annotations_none">
</template>
<template name="message_raw">
    <div class="raw-file">
        <button class="close">&times;</button>
        <textarea>{{message}}</textarea>
    </div>
</template>